<%- include('partials/_header'); %>

  <div class="container">
    <div class="row">
      <!--FORM-->
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body">
            <form action="/edit/<%= task._id %>" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="Título" value="<%= task.title %>">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="description" cols="80"
                  placeholder="Agregue una descripción"><%= task.description %></textarea>
              </div>
              <div class="form-group">
                <input class="form-control" type="date" name="deadline" placeholder="Fecha Límite"
                  value="<%= task.deadline %>">
              </div>
              <button class="btn btn-primary mt-5" type="submit">
                Actualizar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/_footer'); %>